a {
    color: #00ff00;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #00ff00;
}

p {
    text-indent: 1em;
}

header, footer {
    background-color: #000;
    color: #00ff00;
    text-align: center;
    padding: 1em 0;
    flex-shrink: 0; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.content {
    margin: 10px;
    padding: 20px;
    background-color: #000;
    border: 1px solid #00ff00;
    border-radius: 5px;
    width: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.content h2 {
    text-align: center;
}

.content #skills {
    text-align: center;
}

.content #skills #lists {
    padding: 2%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
}

.content #skills ul {
    list-style-type: none;
    padding: 0;
    text-align: left; 
}

.content #skills ul:first-child {
    margin-right: 5%; 
}


.content #skills ul li {
    margin-bottom: 10px;
}


.content:hover {
    transform: scale(1.1);
    border-color: #00cc00;
}

.hidden-content {
    display: none;
}

.expanded {
    height: auto;
    padding: 20px;
}

.footer {
    background-color: #000;
    color: #00ff00;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
    height: 20%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top; 
}

ul li::before {
    content: "* ";
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}